<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="wkhtmltopdf" content="margin=0" />
    <title>Билет</title>
    <style>
      @font-face {
        font-family: "NT Somic Bold";
        src: url("{{ request.registry.settings.host_url }}/static/fonts/NT-Somic-Bold.ttf");
        font-weight: 700;
        font-style: normal;
      }

      body {
        margin: 0;
        font-family: "NT Somic Bold";
        font-weight: 700;
        color: #293f50;
      }

      .wrap {
        position: absolute;
        width: 794px;
        height: 1123px;
        overflow: hidden;
      }

      .bg {
        width: 100%;
      }

      .bg-template {
        width: 100%;
        pointer-events: none;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        opacity: 0.3;
      }

      .text-primary {
        font-family: "NT Somic Bold";
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #293f50;
      }

      .text-secondary {
        font-family: "NT Somic Bold";
        font-weight: 400;
        font-size: 15.5px;
        line-height: 15.5px;
        color: #293f50;
      }

      .price {
        margin-top: 1px;
        font-size: 28.5px;
        line-height: 28.5px;
      }

      .barcode-number {
        position: absolute;
        bottom: 15px;
        right: 235px;
        color: #293f50;
        font-size: 7.3px;
      }

      .ticket-serial-number {
        position: absolute;
        bottom: 15px;
        left: 349px;
        color: #293f50;
        font-size: 7.3px;
      }

      .qrcode-box {
        position: absolute;
        top: 366px;
        right: 46px;
        width: 103px;
        height: 103px;
        background-color: #293f50;
        box-sizing: border-box;
      }

      .qrcode {
        width: 100%;
        height: 100%;
      }

      .barcode-box {
        box-sizing: border-box;
        position: absolute;
        top: 990px;
        left: 354px;
        width: 200px;
        height: 99px;
        overflow: hidden;
        background-color: #293f50;
      }

      .barcode {
        width: 100%;
        height: 100%;
      }

      .big.barcode-box {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        top: 532px;
        left: 47px;
        width: 215px;
        height: 101px;
      }

      .big.barcode-number {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        top: 396px;
        left: 159px;
        bottom: auto;
        right: auto;
        color: #293f50;
        font-size: 8.3px;
        text-transform: uppercase;
      }

      .big.ticket-serial-number {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        left: 159px;
        bottom: 574px;
        right: auto;
        color: #293f50;
        font-size: 8.3px;
        text-transform: uppercase;
      }

      .start-date {
        font-size: 18px;
        margin-top: 3px;
      }

      .place {
        line-height: 18px;
        font-size: 12.5px;
        margin-top: 0px;
      }

      .address {
        margin-left: auto;
        width: 140px;
        margin-top: 10px;
        line-height: 8px;
        font-size: 7.5px;
      }

      .event-name {
        font-size: 10.7px;
      }

      .artist-name {
        font-size: 18.6px;
        line-height: 18.6px;
        margin-top: -7px;
      }

      .org-label {
        position: absolute;
        top: 609px;
        left: 538px;
      }

      .org-legal-info {
        font-size: 7.5px;
        line-height: 10px;
      }

      .print-time {
        font-size: 9px;
        line-height: 9px;
      }

      .discount-refund {
        text-transform: uppercase;
        position: absolute;
        top: 402px;
        right: 285px;
        width: 218px;
        line-height: 10px;
        font-size: 8.2px;
        color: #293f50;
        text-align: center;
      }

      .block-main {
        text-align: right;
        position: absolute;
        top: 256px;
        right: 34px;
        text-transform: uppercase;
        width: 200px;
        font-size: 15.5px;
        line-height: 15.5px;
        color: #293f50;
      }

      .block-price-set {
        font-weight: 500;
        font-size: 12.5px;
        text-align: center;
        line-height: 12.5px;
        text-transform: uppercase;
        position: absolute;
        top: 258px;
        left: 286px;
        width: 220px;
      }

      .order-info {
        position: absolute;
        top: 270px;
        left: 37px;
        width: 185px;
      }

      .set-name {
        margin-top: 1px;
        font-size: 28.5px;
        line-height: 22.5px;
      }

      .set-desc {
        margin-top: -1px;
      }

      .ticket-seat {
        margin-top: 13px;
      }

      .refund-info {
        position: absolute;
        top: 862.5px;
        left: 590px;
        width: 180px;
        font-size: 14.8px;
        color: #000;
      }

      .lk-link {
        color: #293f50;
      }

      .order-number {
        font-size: 10px;
      }

      .set-label {
        margin-top: 4px;
      }
      .start-time {
        font-size: 10.5px;
      }
      .bottom-box {
        color: #e3e9fc;
        position: absolute;
        width: 580px;
        left: 37px;
        top: 1069px;
        text-transform: uppercase;
      }
      .discount-refund-box {
        position: absolute;
        font-size: 11px;
        left: 36px;
        top: 618px;
      }
    </style>
  </head>

  <body>
    <div class="wrap">
      <img
        class="bg"
        src="{{ request.registry.settings.host_url }}/static/images/65c8a877d37721889cc5b53f-background.png"
      />

      <div class="block-price-set">
        <div>
          ЦЕНА: {% if order.settings.invitation %}ПРИГЛАШЕНИЕ{% elif not
          ticket_price %}БЕСПЛАТНО{% else %}{{ ticket_price|money_stringify }}{%
          endif %}
        </div>
        <div style="margin-top: 20px; line-height: 14px">
          КАТЕГОРИЯ: {{ ticket.set.name|dumb_i18n("ru") }}
        </div>
        <div style="margin-top: 22px; line-height: 14px">
          {% if ticket.seat %} РЯД {{ ticket.seat.row }}, МЕСТО {{
          ticket.seat.number }} {% endif %} {% if tariff_name %}
          <br />
          ТАРИФ:{{ tariff_name|dumb_i18n("ru") }} {% endif %}
        </div>
        <div></div>
      </div>
      <div class="text-secondary block-main">
        <div class="start-time">
          НАЧАЛО В {{ order.event.lifetime.start | format_datetime('{: %H:%M}',
          order.event.d.timezone, "ru") }}
        </div>
        <div class="start-date">
          {{ order.event.lifetime.start | format_datetime('{:%-d %B %Y}',
          order.event.d.timezone, "ru") }}
        </div>
        <div class="place">{{ order.event.venue.name|dumb_i18n('ru') }}</div>
        <div class="address">
          АДРЕС: {{ order.event.venue.city.name.get(lang,
          order.event.venue.city.name.get('ru','')) }}, {{
          order.event.venue.address|dumb_i18n(lang) }}.
        </div>
      </div>
      <div class="order-info">
        <div class="text-primary order-number">ЗАКАЗ №{{ order.number }}</div>
      </div>
      {% if ticket.order.vars.find_ticket_info(ticket.id).discount and not
      order.settings.invitation %}
      <div class="text-secondary discount-refund">
        Этот билет куплен со скидкой {{
        ticket.order.vars.find_ticket_info(ticket.id).discount | money_stringify
        }} и вернуть деньги за него получится только в случае отмены или
        переноса мероприятия. В соответствии с ФЗ №193 от 18.07.2019
      </div>
      {% endif %} {% if not
      ticket.order.vars.find_ticket_info(ticket.id).discount and not
      order.settings.invitation %}
      <div class="text-secondary discount-refund-box">
        <div>ОФОРМИТЬ ВОЗВРАТ:</div>
        <div class="lk-link">customer.ticketscloud.com</div>
      </div>
      {% endif %}

      <div class="bottom-box">
        <div class="org-legal-info">
          Организатор {{ legal.detail.name|dumb_i18n("ru") }}, {{
          legal.detail.address|dumb_i18n("ru") }} ИНН {{ legal.detail.inn }},
          ОГРН {{ legal.detail.ogrn }}
        </div>
        <div class="print-time">
          ВРЕМЯ ПЕЧАТИ: {{ order.created_at.strftime('%d.%m.%Y %H:%M') }}
        </div>
      </div>

      <div class="qrcode-box">
        <img class="qrcode" src="{{ qrcode }}" alt="qrcode" />
      </div>

      <div class="barcode-box big">
        <img
          class="barcode"
          src="{{ ticket|gen_barcode(False) }}"
          alt="barcode"
        />
      </div>
      <div class="text-secondary barcode-number big">{{ ticket.barcode }}</div>
      <div class="text-secondary ticket-serial-number big">
        Серия {{ ticket.serial }} №{{ ticket.number }}
      </div>
    </div>
  </body>
</html>
