<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="wkhtmltopdf" content="margin=0" />
    <title>Билет</title>
    <style>
      @font-face {
        font-family: "Manrope Bold";
        src:
          url("{{ request.registry.settings.host_url }}/static/fonts/manrope-bold.ttf"),
          url("{{ request.registry.settings.host_url }}/static/fonts/manrope-bold.ttf");
        font-weight: 700;
        font-style: normal;
      }

      @font-face {
        font-family: "Manrope Medium";
        src:
          url("{{ request.registry.settings.host_url }}/static/fonts/manrope-bold.ttf"),
          url("{{ request.registry.settings.host_url }}/static/fonts/manrope-bold.ttf");
        font-weight: 500;
        font-style: normal;
      }

      body {
        margin: 0;
        font-family: "Manrope Medium";
        font-weight: 700;
        color: #ffffff;
      }

      .wrap {
        position: absolute;
        width: 794px;
        height: 1123px;
        overflow: hidden;
      }

      .bg {
        width: 100%;
      }

      .bg-template {
        width: 100%;
        pointer-events: none;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        opacity: 0.3;
      }

      .text-primary {
        font-family: "Manrope Bold";
        font-weight: 600;
        font-size: 13.3px;
        line-height: 24px;
        color: #ffffff;
      }

      .text-secondary {
        font-family: "Manrope Medium";
        font-weight: 400;
        font-size: 15.5px;
        line-height: 15.5px;
        color: #ffffff;
      }

      .price {
        margin-top: 1px;
        font-size: 28.5px;
        line-height: 28.5px;
      }

      .barcode-number {
        position: absolute;
        bottom: 15px;
        right: 235px;
        color: #fff;
        font-size: 7.3px;
      }

      .ticket-serial-number {
        position: absolute;
        bottom: 15px;
        left: 349px;
        color: #fff;
        font-size: 7.3px;
      }

      .min-age {
        margin-top: 2px;
      }

      .qrcode-box {
        position: absolute;
      top: 47px;
    right: 343px;
    width: 107px;
    height: 107px;
        background-color: #fff;
        box-sizing: border-box;
      }

      .qrcode {
        width: 100%;
        height: 100%;
      }

      .barcode-box {
        box-sizing: border-box;
        position: absolute;
        top: 990px;
        left: 354px;
        width: 200px;
        height: 99px;
        overflow: hidden;
        background-color: #fff;
      }

      .barcode {
        width: 100%;
        height: 100%;
      }

      .big.barcode-box {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
     top: 365px;
    left: 48px;
    width: 240px;
    height: 105px;
      }

      .big.barcode-number {
           -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
   top: 204px;
    left: 178px;
    bottom: auto;
    right: auto;
    color: #fff;
    font-size: 9.3px;
    text-transform: uppercase;
      }

      .big.ticket-serial-number {
           -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
    top: 375px;
    left: 178px;
    bottom: auto;
    right: auto;
    color: #fff;
    font-size: 9.3px;
    text-transform: uppercase;
      }

      .start-date {
      }

      .place {
        margin-top: 2px;
      }

      .address {
        margin-top: -5px;
      }

      .event-name {
        font-size: 10.7px;
      }

      .artist-name {
        font-size: 18.6px;
        line-height: 18.6px;
        margin-top: -7px;
      }

      .org-label {
        position: absolute;
        top: 609px;
        left: 538px;
      }

      .org-legal-info {
        position: absolute;
        bottom: 25px;
        left: 590px;
        width: 180px;
        font-size: 10px;
        line-height: 9px;
        color: #000;
      }

      .print-time {
        position: absolute;
        bottom: 5px;
        left: 590px;
        width: 180px;
        font-size: 10px;
        line-height: 9px;
        color: #000;
      }

      .discount-refund {
        position: absolute;
        top: 771px;
        left: 590px;
        width: 160px;
        line-height: 11.2px;
        font-size: 10.2px;
        color: #000;
      }

      .block-main {
        position: absolute;
        top: 430px;
        left: 590px;
        width: 150px;
        font-size: 15.5px;
        line-height: 15.5px;
        color: #000;
      }

      .block-price-set {
line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 195px;
left: 248px;
    width: 300px;
      }

      .order-info {
position: absolute; 

    top: 61px;
    left: 26px;
    width: 168px;
    color: #fff;
      }

      .set-name {
        margin-top: 1px;
        font-size: 28.5px;
        line-height: 22.5px;
      }

      .set-desc {
        margin-top: -1px;
      }

      .ticket-seat {
        margin-top: 13px;
      }

      .refund-info {
        position: absolute;
        top: 862.5px;
        left: 590px;
        width: 180px;
        font-size: 14.8px;
        color: #000;
      }

      .lk-link {
        color: #981e1d;
      }

      .order-number {
        font-size: 14px;
        color: #fff;
      }

      .set-label {
        margin-top: 4px;
      }
    </style>
  </head>

  <body>
    <div class="wrap">
      <img
        class="bg"
        src="{{ request.registry.settings.host_url }}/static/images/5de2aab3c634499fe804cc4c-background.png"
      />
      <img
        class="bg-template"
        src="{{ request.registry.settings.host_url }}/static/images/5de2aab3c634499fe804cc4c-example.png"
      />
      <div class="block-price-set">
      
        <div>Цена:</div>
        <div>
          {% if order.settings.invitation %}ПРИГЛАШЕНИЕ{% elif not ticket_price
          %}БЕСПЛАТНО{% else %} {{ ticket_price|money_stringify }}{% endif %}
        </div>
        <div style="margin-top: 16px;">Категория:</div>

        <div>
          {{ ticket.set.name|dumb_i18n("ru") }}{% if tariff_name %}. {{
          tariff_name|dumb_i18n("ru") }}{% endif %} {% if ticket.seat %} РЯД {{
          ticket.seat.row }}, МЕСТО {{ ticket.seat.number }} {% endif %}
        </div>
      </div>
      <div class="text-secondary block-main">
        <div class="start-date">
          {{ order.event.lifetime.start | format_datetime('{:%-d %B %Y}',
          order.event.d.timezone, "ru") }}
        </div>
        <div class="place">{{ order.event.venue.name|dumb_i18n('ru') }}</div>
        <div class="min-age">
          {{ order.event.lifetime.start | format_datetime('{: %H:%M}',
          order.event.d.timezone, "ru") }} | {{ order.event.age_rating }}+
        </div>
      </div>
      <div class="order-info">
        <div class="text-primary order-number">ЗАКАЗ №{{ order.number }}</div>
      </div>
      {% if ticket.order.vars.find_ticket_info(ticket.id).discount and not
      order.settings.invitation %}
      <div class="text-secondary discount-refund">
        Этот билет куплен со скидкой {{
        ticket.order.vars.find_ticket_info(ticket.id).discount | money_stringify
        }} и вернуть деньги за него получится только в случае отмены или
        переноса мероприятия. В соответствии с ФЗ №193 от 18.07.2019
      </div>
      {% endif %} {% if not
      ticket.order.vars.find_ticket_info(ticket.id).discount and not
      order.settings.invitation %}
      <div class="text-secondary refund-info">
        <div>ОФОРМИТЬ ВОЗВРАТ:</div>
        <div class="lk-link">customer.ticketscloud.com</div>
      </div>
      {% endif %}
      <div class="text-secondary barcode-number">{{ ticket.barcode }}</div>
      <div class="text-secondary ticket-serial-number">
        Серия {{ ticket.serial }} №{{ ticket.number }}
      </div>
      <div class="text-secondary org-legal-info">
        {{ legal.detail.name|dumb_i18n("ru") }}, {{
        legal.detail.address|dumb_i18n("ru") }}<br />
        ИНН {{ legal.detail.inn }}, ОГРН {{ legal.detail.ogrn }}
      </div>
      <div class="text-secondary print-time">
        {{ order.created_at.strftime('%d.%m.%Y %H:%M') }}
      </div>
      <div class="qrcode-box">
        <img class="qrcode" src="{{ qrcode }}" alt="qrcode" />
      </div>
      <div class="barcode-box">
        <img
          class="barcode"
          src="{{ ticket|gen_barcode(False) }}"
          alt="barcode"
        />
      </div>
      <div class="barcode-box big">
        <img
          class="barcode"
          src="{{ ticket|gen_barcode(False) }}"
          alt="barcode"
        />
      </div>
      <div class="text-secondary barcode-number big">{{ ticket.barcode }}</div>
      <div class="text-secondary ticket-serial-number big">
        Серия {{ ticket.serial }} №{{ ticket.number }}
      </div>
    </div>
  </body>
</html>
